.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared stylee */
.align {
    text-align: center;
}

.dark1 {
    color: #181818;
}

.dark2 {
    color: #474747;
}

.dark3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px 19px 36px;
    border: none;
    border-radius: 5px;
}

.secondary_bg {
    background-color: #FFF8F3;
}

.section_title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.section_desc {
    font-size: 18px;
    color: #757575;
}


/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 200px;
    margin-bottom: 200px;
}

/* header style */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* navbar style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
}

.nav_title_color {
    color: #FD6E0A;

}

.nav_title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    /* font-size: 20px; */
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
}

/* banner-style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 37px 0 227px;
}

.banner_content {
    max-width: 585px;
}

.banner_content button {
    margin-right: 30px;
}

.banner_title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner_subtitle {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner_desc {
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}

.img_src {
    width: 584px;
}

/* about style */
.about {
    margin-top: 130px;
    padding: 131px 157px;
    text-align: center;
}

.about_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.item_title {
    font-size: 20px;
    color: #757575;
    margin-bottom: 0;
}

.item_desc {
    font-size: 16px;
    font-weight: 600;
}

/* skill style */
.skill_card {
    margin-top: 50px;
    display: flex;
    gap:24px;
}

.card {
    width: 267px;
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card_title {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}

.card_desc {
    color: #757575;
    font-size: 16px;
}

/* resume style */
.resume_container{
    display: flex;
    gap: 71px;
}
.resume_column{
    margin-top: 113px;
}
.xp{
width: 511px;
}
.col_title{
    font-size: 30px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 30px;
}
.xp_titile{
    font-size: 25px;
    font-weight: 600;
    color: #474747;
}
.xp_sub_title{
    font-size: 20px;
    font-weight: 500;
    color: #757575;
}
.xp_desc{
    font-size: 16px;
    color: #757575;
}
hr{
    margin-top: 50px;
    color: #757575;
}
.btn_edit{
    margin-top: 50px;
}

/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.foot_col{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
footer input[type=text],footer input[type=email],footer textarea{
    height: 64px;
    border-radius: 5px;
    border: none;
    padding: 0 30px;
}